<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Image Strings</key>
	<array>
		<string>Codex</string>
		<string>Nova-L1</string>
		<string>Autocannon</string>
		<string>Wingman</string>
		<string>Overshield</string>
		<string>TinyNova</string>
		<string>2xMulti</string>
		<string>FlightSchoolGraduate</string>
		<string>Cadet</string>
		<string>Private-1</string>
		<string>Private-2</string>
		<string>Sergeant-1</string>
		<string>Sergeant-2</string>
		<string>FlightCommander</string>
		<string>LTCommander</string>
		<string>Commander</string>
		<string>FleetGeneral</string>
		<string>FleetAdmiral</string>
	</array>
	<key>Image Scale Factors</key>
	<array>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<real>0.8</real>
		<real>1.5</real>
		<real>1.5</real>
		<real>1.5</real>
		<real>1.5</real>
		<real>1.5</real>
		<real>1.5</real>
		<real>1.5</real>
		<real>1.5</real>
		<real>1.5</real>
		<real>1.5</real>
		<real>1.5</real>
	</array>
	<key>Text</key>
	<array>
		<string>This is the Nova Wing Codex.  This\ndocument houses descriptions of the various\nitems in-game, and will serve as a useful\nreference in times of great peril, or\njust when you want to know more about\na particular item!</string>
		<string>This is your ship, the Nova.  The Iridon\nIndustries T-77 “Nova” was designed as a\nspace-combat training vessel.  Engineered\nfor training, its battle management systems\nleave much to be desired.  However, in\ntrue Iridon fashion, what it does, it does\nwell.  The Nova is more maneuverable than\nany ship in UAA’s fleet, allowing trainees\nto hone their reaction times.  The Nova\nis outfitted with a modified Iridon\nSuper-Light engine salvaged from the retired\nfleet of M-CaT’s.  The modification ports\engine thrust through forward apertures, allowing\nfor extreme pitch-up maneuvers and rapid\nresponse in all possible training missions.</string>
		<string>Specifically engineered for training, the Nova’s offensive and defensive systems leave much to be desired.  While the Nova is outfitted with a single laser cannon, the Offensive/Defensive Capability Management System has been disabled for training missions and is only to be enabled in dire circumstances at the direction of the training supervisor.  Per UAA’s request, Iridon fixed-mounted the lasers and regulated the speed of fire to eliminate any room for “pilot error”.</string>
		<string>In the event of an emergency, each Nova comes equipped with a “Hail Support” feature, allowing for rapid materialization of an available pilot from the “on-call” list.  This should only be used in the most dangerous of circumstances, and provides automatic authorization for activation of the Autocannon.  This provides mission continuity - should a terrible fate befall a pilot, the wingman will ensure that the mission goes on.</string>
		<string>Each Nova comes equipped with a shield generator.  The (patent-pending) Iridon Industries Progressive Facet Overshield is the next generation of shield technology.  However, the ISL engines salvaged from the M-CaT fleet were not designed to provide the massive amounts of power needed for these shields.  The Iridon Engineering Corps devised a workaround, but the Nova’s maneuverability still suffers when shielded.  It’s definitely not because the designers of this game couldn’t figure out why the ship is less maneuverable with a shield added…</string>
		<string>There’s no scientific, logical, numerical, alphabetical, or hippo-thetical reason why the Nova randomly shrinks in size.  But it doesn’t shrink engine power!  While the ship has been reduced in size, its forward aperture thrusters can power the Nova to escape from anything, even beneath the event horizon of a black hole!</string>
		<string>Position within the ranks of the UAA Aeronautic and Space Division is determined by your score.  You may ask “What score?” and we would have no good answer for you.  But we do know this - collecting multipliers allows your score to build even faster, but not without cost.  The multiplier boosts engine thrust, propelling you even faster and faster towards what may or may not be certain doom.</string>
		<string>Congratulations!  You’ve graduated from Flight School, which means you are now authorized to perform the same training missions as done in Flight School, except in more dangerous situations!  Don’t wreck that Nova.  Each one costs UAA 8.4 million units.</string>
		<string>Alright Cadet, you’ve proven yourself worthy of taking on more complicated missions.  It’s too bad those complicated missions aren’t really available in this sector.  The UAA Training Grounds aren’t quite the firestorm they used to be, but maybe we can find some space-cans to set on a space-fence-post so you can space-shoot them.
Alright Cadet, you’ve proven yourself worthy of taking on more complicated missions.  It’s too bad those complicated missions aren’t really available in this sector.  The UAA Training Grounds aren’t quite the firestorm they used to be, but maybe we can find some space-cans to set on a space-fence-post so you can space-shoot them.</string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string>UAA highly recommends that its senior officers utilize approved forms of executive transport.  However, some senior officers maintain deep emotional connections to the training ships that brought them through so many asteroid fields and debris clouds.  UAA entertains these sentimentalities since the officers are close to retirement anyway.</string>
	</array>
</dict>
</plist>
